@{
    ViewData["Title"] = "Home Page";
}

    <div class="row margin-lefti margin-righti">
        <div class="col-6">
            <div class="bg-white p-3">
                <h2 class="mb-5">Parcel information</h2>
                <div class="row">
                    <div class="col-6">
                        <h5>Departure city</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="departureForm">
                        </div>
                    </div>
                    <div class="col-6">
                        <h5>Arrival city</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="arrivalForm">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h5>Customer number</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="customerIDForm">
                        </div>
                    </div>
                    <div class="col-2">
                        <h5>Weight</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="weightForm" placeholder="in kg">
                        </div>
                    </div>
                    <div class="col-2">
                        <h5>Length</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="lengthForm" placeholder="in cm">
                        </div>
                    </div>
                    <div class="col-2">
                        <h5>Depth</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="depthForm" placeholder="in cm">
                        </div>
                    </div>
                    <div class="col-2">
                        <h5>Breadth</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="breathForm" placeholder="in cm">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Special type of parcel goods</h5>
                        <div class="row p-4">
                            <div class="form-check mr-3">
                                <input class="form-check-input" type="checkbox" value="" id="cautiousCheckbox">
                                <label class="form-check-label" for="cautiousCheckbox">
                                    Cautious
                                </label>
                            </div>
                            <div class="form-check mr-3">
                                <input class="form-check-input" type="checkbox" value="" id="regrigeratedCheckbox">
                                <label class="form-check-label" for="regrigeratedCheckbox">
                                    Refrigerated
                                </label>
                            </div>
                            <div class="form-check mr-3">
                                <input class="form-check-input" type="checkbox" value="" id="WeaponsCheckbox">
                                <label class="form-check-label" for="WeaponsCheckbox">
                                    Weapons
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-3"> 
                    <button type="button" class="btn btn-primary">Create invoice</button>
                </div>
            </div>
        </div>
        <div class="text-center col-6">
            <svg id="map" class="africa-map" width="750" height="750"></svg>
        </div>

    </div>

<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>


<script>

    // The svg
    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    // Map and projection
    var projection = d3.geoMercator()
        .center([20, 0])                // GPS of location to zoom on
        .scale(500)                       // This is like the zoom
        .translate([width / 2, height / 2])



    var color = d3.scaleOrdinal(["#C5E1A5","#AED581","#9CCC65","#8BC34A","#7CB342","#689F38","#558B2F","#33691E"]);
    // Load external data and boot
    d3.json("https://raw.githubusercontent.com/codeforamerica/click_that_hood/master/public/data/africa.geojson",
        function(data) {

            // Filter data
            //data.features = data.features.filter(function(d) {
            //    console.log(d.properties.name);
            //    return  countryList.indexOf(d.properties.name) >= 0;
            //});

            // Draw the map
            svg.append("g")
                .selectAll("path")
                .data(data.features)
                .enter()
                .append("path")
                .attr("fill", "grey")
                .attr("d",
                    d3.geoPath()
                    .projection(projection)
                )
                .style("stroke", "none")
                .style("fill",
                    function(d, i) {
                        return color(i % 8);
                    });
        });



</script>